# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebApplication.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\asp\lab1\WebApplication\.idea\.idea.WebApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
