*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
WebApplication/wwwroot/lib/
WebApplication/wwwroot/lib

# Visual Studio 2015
.vs/

.idea/.idea.WebApplication/riderModule.iml
.idea/.idea.WebApplication/.idea/contentModel.xml
.idea/.idea.WebApplication/.idea/indexLayout.xml
.idea/.idea.WebApplication/.idea/modules.xml
.idea/.idea.WebApplication/.idea/projectSettingsUpdater.xml
.idea/.idea.WebApplication/.idea/workspace.xml
.idea/.idea.WebApplication/.idea/misc.xml
.idea/.idea.WebApplication/.idea/vcs.xml